# Jupyter Notebook
*.ipynb

# microsoft word documents
*.docx

# test files
test.py

# large file
images_data.csv

# random image
captured_image.png

#
__pycache__/
/Users/danieljeong/Python/CV_sudoku_solver/Machine_Learning_Pipeline/scarp_page.py
archive/
